.fondo{
    background-image: url("../fotografias/Imagen_Fondo.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

body {
    background: #FC466B;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3F5EFB, #FC466B);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3F5EFB, #FC466B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
}

.bg-white {
    background-color: #ffffff;
}